.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: var(--space-09) var(--space-12);
  gap: var(--space-04);
}

h1 {
  /* Making h1 screen reader only */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.search-bar-wrapper {
  display: flex;
  gap: var(--space-06);
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: var(--space-09);
  margin: var(--space-12);
}

.forecast {
  display: flex;
  gap: var(--space-06);
  margin-top: var(--space-12);
}

@media (min-width: 425px) and (max-width: 750px) {
  .hero {
    align-items: center;
  }
}

@media (max-width: 750px) {
  .forecast {
    flex-direction: column;
    width: 300px;
  }
}

@media (max-width: 425px) {
  .header {
    margin: var(--space-06);
    flex-direction: column-reverse;
  }

  .hero {
    margin: var(--space-06);
    align-items: center;
  }
}
