.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 32px 64px;
  gap: 8px;
}

h1 {
  /* Making h1 screen reader only */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.search-bar-wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 64px;
}

.forecast {
  display: flex;
  gap: 16px;
  margin-top: 64px;
}

@media (min-width: 425px) and (max-width: 750px) {
  .hero {
    align-items: center;
  }
}

@media (max-width: 750px) {
  .forecast {
    flex-direction: column;
    width: 300px;
  }
}

@media (max-width: 425px) {
  .header {
    margin: 16px;
    flex-direction: column-reverse;
  }

  .hero {
    margin: 16px;
    align-items: center;
  }
}
