.toggle-container {
  display: flex;
  border-radius: 26px;
  padding: var(--space-02);
  height: 50px;
  width: max-content;
}

.toggle-button {
  background-color: transparent;
  border: none;
  border-radius: 22px;
  width: var(--space-12);
}
.toggle-button:hover {
  background-color: var(--surface-background-blue);
}
.toggle-button.active {
  background-color: var(--surface-background-white-25);
}

@media (max-width: 425px) {
  .toggle-container {
    width: 100%;
  }
  .toggle-button {
    width: 100%;
  }
}
