.badge {
  display: flex;
  width: 100px;
  height: 40px;
  background-color: var(--surface-background-blue);
  border: 1px solid var(--surface-background-white-25);
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 8px 12px;
  border-radius: 18px;
}

.badge-dt {
  font-weight: 100;
}

.badge-dd {
  font-weight: 300;
}

.small {
  width: 100%;
  min-width: 40px;
  height: max-content;
  padding: 6px 8px 6px 10px;
  background-color: var(--surface-background-gray-50);
  border: none;

  .badge-dt,
  .badge-dd {
    font-size: 12px;
  }
}
