.badge {
  display: flex;
  width: 100px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-04) var(--space-04) var(--space-04) var(--space-05);
  border-radius: 18px;
}

.badge-dt {
  font-weight: 100;
}

.badge-dd {
  font-weight: 300;
}

.small {
  width: 100%;
  min-width: 60px;
  height: max-content;
  padding: var(--space-03) var(--space-05);
  background-color: var(--surface-background-gray-50);
  border: none;

  .badge-dt,
  .badge-dd {
    font-size: 12px;
  }
}
